<form action="/new_post" method="post">
  <label for="url"></label>
  <input type="text" id="url" name="post[url]" placeholder="URL"><br>
  <label for="title"></label>
  <input type="text" id="title" name="post[title]" placeholder="Title"><br>
  
  <input type="submit" value="Create Post">
</form>
